absl-py==1.4.0
alchemy==20.5
alembic==1.7.4
aniso8601==9.0.1
appdirs==1.4.4
astunparse==1.6.3
backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
bleach==6.0.0
bokeh==2.4.3
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.0.3
cloudpickle==2.2.1
colorama==0.4.4
contourpy==1.0.5
cryptography==35.0.0
cycler==0.11.0
distlib==0.3.3
docutils==0.18
et-xmlfile==1.1.0
exceptiongroup==1.1.1
filelock==3.0.12
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-HTTPAuth==4.5.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
flatbuffers==23.5.26
fonttools==4.37.4
fsspec==2023.9.1
gast==0.4.0
google-auth==2.23.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.58.0
gym==0.26.2
gym-notices==0.0.8
h5py==3.9.0
httpauth==0.3
huggingface-hub==0.17.2
idna==3.4
imageio==2.30.0
iniconfig==2.0.0
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.2.0
keras==2.13.1
keyboard==0.13.5
kiwisolver==1.4.4
lazy_loader==0.2
libclang==16.0.6
llvmlite==0.40.0
lockfile==0.12.2
lpnlp @ http://nlp.band/static/pypy/lpnlp-2023.3.29-py3-none-any.whl
mahotas==1.4.13
Mako==1.1.5
Markdown==3.4.3
MarkupSafe==2.0.1
marshmallow==3.14.1
matplotlib==3.6.0
mpmath==1.3.0
Naked==0.1.32
networkx==3.1
numba==0.57.0
numpy==1.23.4
oauthlib==3.2.2
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas==2.0.1
panel==0.14.4
param==1.13.0
Pillow==9.2.0
platformdirs==2.4.0
pluggy==1.0.0
protobuf==4.24.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.15.0
pyct==0.5.0
pycuda==2022.2.2
pygame==2.2.0
pygame-menu==4.3.8
pymp==0.0.6
PyMySQL==1.0.2
PyOpenGL @ file:///C:/Institute/6%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%B3%D1%80%D0%B0%D1%84%D1%96%D0%BA%D0%B0/lab2/PyOpenGL-3.1.6-cp310-cp310-win_amd64.whl
PyOpenGL-accelerate @ file:///C:/Users/Admin/Downloads/PyOpenGL_accelerate-3.1.6-cp310-cp310-win_amd64.whl
pyparsing==3.0.9
pyperclip==1.8.2
pytest==7.3.1
python-daemon==2.2.4
python-dateutil==2.8.2
pytools==2022.1.14
pytz==2021.3
pyviz-comms==2.2.1
PyWavelets==1.4.1
PyYAML==6.0
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.3.3
scikit-image==0.20.0
scikit-learn==1.1.2
scipy==1.9.1
shellescape==3.8.1
six==1.16.0
sklearn==0.0
SQLAlchemy==1.4.26
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
threadpoolctl==3.1.0
tifffile==2023.4.12
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.3.1
tqdm==4.65.0
transformers==4.33.2
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.7
virtualenv==20.10.0
waitress==2.0.0
webencodings==0.5.1
Werkzeug==2.0.2
wrapt==1.15.0
xlrd==1.2.0
XlsxWriter==3.0.3
